<div class="stack stack-lg">
  <%= render 'shared/box' %>
  <div class="stack border-dark">
    <%= render 'shared/p' %>
    <%= render 'shared/box' %>
    <div class="stack stack-sm border-dark">
      <%= render 'shared/p' %>
      <%= render 'shared/box' %>
      <%= render 'shared/box' %>
    </div>
    <%= render 'shared/box' %>
  </div>
  <%= render 'shared/box' %>
</div>
