<div class="stack stack-recursive">
  <div class="box border-dark">
    <%= render 'shared/p' %>
    <%= render 'shared/p' %>
  </div>
  <div class="box border-dark">
    <%= render 'shared/p' %>
    <%= render 'shared/p' %>
    <%= render 'shared/box' %>
    <%= render 'shared/box' %>
  </div>
  <div class="box border-dark">
    <%= render 'shared/p' %>
  </div>
</div>
